# Ignore local environment configurations and secrets
appsettings.Development.json
appsettings.Production.json
.env

# Ignore Mac specific hidden files
.DS_Store
.idea
ParkPal.API/ParkPal.API/bin/

ParkPal.API/ParkPal.API/obj/

ParkPal.API/ParkPal.API.sln.DotSettings.user

ParkPal.Common/bin/

ParkPal.Common/obj/

ParkPal.Tests/bin/

ParkPal.Tests/obj/

ParkPal.SyncService/bin/

ParkPal.SyncService/obj/

ParkPal.PushEngine/bin/

ParkPal.PushEngine/obj/

ParkPal.ImageProcessor/bin/

ParkPal.ImageProcessor/obj/

ParkPal.API/global.json

ParkPal.DatabaseDeployer/bin/

ParkPal.DatabaseDeployer/obj/

ParkPal.ImageProcessor/ImagesProcessed/

ParkPal.ImageProcessor/ImagesProcessed-2/

ParkPal.ImageProcessor/ImagesProcessed-3/
